
/*box sizing best practice code*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{ /*background image and set it to cover the page and not repeat */
  background:url(images/sunray2.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

main article img{ /*center the profile picture*/
  margin-left: 45%;
}


header{
  padding-bottom:20px; /*bottom padding for the header */
  padding-top:20px;  /*top padding for the header */
  margin-bottom: 10px; /*margin on the bottom to create space between the header and the body */
}

h2{
  font-size: 30px; /* h2 font size */
  color: lightskyblue; /* h2 font color */
}

h1{
  margin-bottom: 0px; /*bottom margin for h1 */
  font-family: cursive; /* h1 font */
  font-size: 72px; /* h1 font size */
  color: lightskyblue; /* font color for h1 */
}

h3{
  text-align:center; /* text alignment for h3 */
  font-family: cursive; /* font for h3 */
  font-size: 25px; /* h3 font size */
}

main p{
  font-family: cursive; /* paragraph font */
  font-size: 18px; /* paragraph font size */
}

li{
  font-family: cursive; /* list font */
  font-size:18px; /* list font size */
}

header section {
  margin-left: 45%; /* center the everything in the header > article path */
  text-align:center; /* center the text within the header > article */
  background: rgba(123, 121, 126, 0.6); /* set the background to grey and add transparency */
  border: 1px solid black; /* add border */
  width: 400px; /* define width of header > article */
  border-radius: 20px; /* round the border */
}

#container{ /* to be used for the main body of text to define the text area and center it as best as possible accross multiple display sizes */
  margin-left:40%;
  margin-right:40%;
  margin-bottom: 50px;
  width: 800px;
}

.divider{ /* to be used for the main body of text */
  padding-left:5px; /* space the text from the border */
  padding-right:5px; /* space the text from the border */
  color: lightskyblue; /* font color */
  width: 100%; /* set width to 100% of the available space */
  background: rgba(123, 121, 126, 0.9); /* set background color as grey and add transparency */
  border: 1px solid black; /* add a border */
  border-radius: 20px; /* round the border */
}

footer{ /* footer formatting  */
  font-size: 8px; /* font size */
  color:white; /* font color */
  height: 50px; /* height of the footer */
  background: black; /* color of the footer */
}

a:link {color: white;} /* links are white */
a:visited {color: blue;} /* visited links are blue */
a:hover {color: black;} /* hovered links are black */
a:active {color: purple;} /* active links are purple */
